{% extends 'base.html.twig' %}

{% block title %}Nos service {% endblock %}

{% block body %}
    <section class="ftco-section ftco-services-2" id="services-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Voyage &amp; Tourisme</span>
                    <h2 class="mb-4">Nos Services</h2>
                    <p>Notre aide en ligne vous assiste et répond à toutes les questions propres à votre voyage.<br>Elle vous guide pour le bon deroullement de votre vacance.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services text-center d-block">
                        <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-gliding"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Guide privé</h3>
                            <p>Service de decouverte des diffèrents sites touristiques à l'international avec un accompagment sur mersures.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services text-center d-block">
                        <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-world"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Organisation de voyages</h3>
                            <p>Réservation des vols à l'international et location des voitures</p>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services text-center d-block">
                        <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-tour-guide"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Accompagnement Hajj et OMRA</h3>
                            <p>Nous accompagnons nos cher pèlerins au bon déroulement du voyage ainsi que les rites religieux sur place.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services text-center d-block">
                        <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-tour-guide"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Réservation Hotel</h3>
                            <p>Nous faisons la réservation d'un (ôtel, location de vacances, complexe touristique, appartement ou d'une maison d’hôtes) à l'international</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
