<!DOCTYPE html>
<html>
<head>
    <title>Bacha Travel Agency</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}
</head>
<body>
{% include '/admin/partials/header.html.twig' %}
{% block body %}{% endblock %}
{% include '/admin/partials/footer.html.twig' %}

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
    {{ encore_entry_script_tags('js/main') }}
{% endblock %}
</body>
</html>
